<manifest package="com.example.floatingchess" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application android:label="FloatingChess" android:icon="@mipmap/ic_launcher">
        <activity android:name="com.example.floatingchess.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.floatingchess.OverlayService" android:exported="false"/>
    </application>
</manifest>
